.main_container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f7f9e4;
}

.register_container {
  flex: 1;
  /*   border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.login_bg_container img {
  width: 690px;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 125px;
  border-bottom-left-radius: 125px;
}
.register_form_container {
  margin-top: 120px;
  /*   border: 1px solid red; */
}
.title {
  margin-bottom: 20px;
}
.register_form_container .title h2 {
  font-size: 32px;
  color: #0a400c;
}
.title h3 {
  font-size: 14px;
  margin: 5px auto;
  color: #001301;
  opacity: 0.75;
}

.email_div,
.name_div,
.password_div,
.role_div {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-bottom: 5px;
}

.email_div label,
.password_div label,
.role_div label,
.name_div label {
  font-size: 17px;
  font-weight: 500;
}

.role_div .input {
  width: 300px;
  padding: 5px 8px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 8px;
  height: 36px;
  border: 2px solid rgba(0, 0, 0, 0.32);
}

.email_div input,
.name_div input,
.password_div input,
.role_div input {
  width: 300px;
  height: 36px;
  border-radius: 10px;
  padding: 5px 8px;
  font-size: 13px;
  font-weight: 500;
  border: 2px solid rgba(0, 0, 0, 0.32);
  margin-bottom: 8px;
}

.register_btn {
  margin-top: 8px;
  width: 300px;
  border-radius: 20px;
  padding: 9px;
  font-weight: 600;
  background-color: #527a53;
  color: white;
  font-size: 14px;
  border: none;
}

.info {
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
  width: 300px;
}

.info span {
  color: blue;
  font-weight: 600;
  text-decoration-line: underline;
  cursor: pointer;
}

.toast-error,
.toast-success {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 12px 20px;
  border-radius: 4px;
  color: white;
  z-index: 1000;
}

.toast-error {
  background-color: #f44336;
}

.toast-success {
  background-color: #4caf50;
}
